.counterContainer {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    min-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .counterContainer p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  
  .counterContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttonContainer {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  .buttonContainer button {
    flex: 1; 
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .counterContainer button:hover {
    background-color: #0056b3;
  }
  
  .listContainer {
    margin-top: 30px;
  }
  
  .listContainer h2 {
    text-align: center;
  }
  
  .list li {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin: 1rem 0;
    cursor: pointer;
    padding: 1rem;
    background: rgb(43, 43, 43);
    position: relative;
    color: white;
    border-radius: 5px;
  }
 

.list li.added {
    background-color: #28a745; 
    color: #fff; 
  }
  
  .list li.subtracted {
    background-color: #dc3545;
    color: #fff; 
  }
  
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .counterContainer {
      min-width: auto;
    }
  }
  